<article class="task">
    <time><%= task.deadline %></time>
    <div class="content"><%= task.title %></div>
    <footer><%= task.project.team.name %> &gt; <%= task.project.name %></footer>
</article>
