<ul class="clearfix">
    <li><%= menu_link "Dashboard", "dashboard" %></li>
    <li><%= menu_link "My tasks", "tasks" %></li>
    <li><%= menu_link "My projects", "projects" %></li>
    <li><%= menu_link "My teams", "teams" %></li>
</ul>
