/*= COLORS
 * Grey:   #3E453E
 * Sand:   #E8BC7D
 * Green:  #6B8E23
 * Yellow: #FFA500
 * Orange: #FF4500
 *
 * http://www.colourlovers.com/palette/762406/Jamaica_pizza
 */

html {
    background: url(../images/footer.gif) bottom left repeat-x;
}

body {
    color: #444;
    background: url(../images/header.gif) top left repeat-x;
}

.show_grid {
    background: url(../images/16_col.gif);
}

#container {
    overflow: hidden;
}

/*=HEADER=*/

#header {
    font-size: 14px;
}

#header h1 {
    color: #FFF;
    line-height: 50px;
}

h2 {
    color: #6B8E23;
    font-size: 28px;
}

#header a {
    color: #FFF;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

#header p {
    color: #CCC;
    line-height: 50px;
    text-align: right;
}

/*=MENU=*/

#menu li {
    float: left;
    list-style: none;
    margin-left: 0;
    margin-right: 20px;
}

#menu a {
    border-radius: 20px;
    color: #3E453E;
    display: block;
    font-weight: bold;
    padding: 3px 12px;
    text-decoration: none;
}

#menu a:hover {
    background-color: #E0E0E0;
}

#menu a.selected {
    background-color: #FF4500;
    color: #FFF;
}

/*=DASHBOARD=*/

.task {
    margin-bottom: 20px;
}

.task time {
    font-weight: bold;
}

.task footer {
    color: #999;
    font-size: 14px;
    font-style: italic;
}

.comment {
    margin-bottom: 20px;
}

/*=FOOTER=*/

#footer {
    bottom: 0;
    color: #666;
    left: 50%;
    line-height: 50px;
    margin-left: -470px;
    position: fixed;
}

#footer p {
    margin-bottom: 0;
}
