<% content_for :top do %>
<nav id="menu">
    <ul class="clearfix">
        <li><a href="#" id="hot-stuff" class="selected">Dashboard</a></li>
        <li><a href="#">My tasks</a></li>
        <li><a href="#">My projects</a></li>
        <li><a href="#">My teams</a></li>
    </ul>
</nav>
<% end %>

<%= render :file => 'layouts/application' %>
